/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.nav-link {
  /*  display: flex;
      align-items: center;
      justify-content: center;
  */
  position: relative;
  margin: 2px auto;
  /*
  width: 25px;
  height: 25px;
  */
  width : 15px;
  height : 5px;
  background: white;
  
  border-radius: 5.5px;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2px;
  font-weight: lighter;
  letter-spacing: .12px;
  transition: 1s box-shadow;
}

.nav-link:hover {
  box-shadow: 0 .3px 2.1px 0px rgba(0,0,0,.1);
}

.nav-link:hover:before, div:hover:after {
  display: block;
  content: '';
  position: absolute;
  /*
  width: 25px;
  height: 25px;
  */
  width : 15px;
  height : 5px;
  background: #FDA8CF;
  border-radius: 5.5px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.nav-link:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -1.3px;
    left: 0;
  }
  12% {
    top: -1.12px;
    left: 1.12px;
  }
  25% {
    top: 0;
    left: 1.3px;    
  }
  37% {
    top: 1.12px;
    left: 1.12px;
  }
  50% {
    top: 1.3px;
    left: 0;    
  }
  62% {
    top: 1.12px;
    left: -1.12px;
  }
  75% {
    top: 0;
    left: -1.3px;
  }
  87% {
    top: -1.12px;
    left: -1.12px;
  }
  100% {
    top: -1.3px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -1.3px;
    right: 0;
  }
  12% {
    top: -1.12px;
    right: 1.12px;
  }
  25% {
    top: 0;
    right: 1.3px;    
  }
  37% {
    top: 1.12px;
    right: 1.12px;
  }
  50% {
    top: 1.3px;
    right: 0;    
  }
  62% {
    top: 1.12px;
    right: -1.12px;
  }
  75% {
    top: 0;
    right: -1.3px;
  }
  87% {
    top: -1.12px;
    right: -1.12px;
  }
  100% {
    top: -1.3px;
    right: 0;    
  }
}